body, html {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  width: 1160px;
  margin: 0 auto;
  /* display: flex; */
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
}

input:focus,
textarea:focus {
  border:  1px solid #ec1e79;
}

@keyframes swing {
  0% {
    opacity: 0;
  }

  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}