.footer {
  background-color: #27273e;
  min-width: 1100px;
  height: 77px;
  font-family: "Gotham Pro";
}

.footer__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  text-align: left;
  margin-top: 14px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

.strong {
  font-weight: 700;
}