.header {
  background-color: #27273e;

}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__container--padding {
  /* padding: 10px 0; */
}

.company-contacts__phone,
.company-contacts__schedule {
  display: block;
}

.company-contacts__schedule {
  display: inline-block;
}