.section-title--prices {
  margin-bottom: 33px;
  margin-top: 5px;
}

.prices {
  font-family: "Gotham Pro";
}

.prices__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.prices__item {
  margin-right: 22px;
  margin-bottom: 75px;
  flex: 1 0 250px; 
}

.prices__item:nth-child(3n+3) {
  margin-right: 0; 
}

.prices__item:nth-child(n+3) {
  margin-bottom: 8px; 
}

.prices-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.prices-member__desc {
  text-align: center;
}

.prices-member__name {
  font-size: 18px;
  font-weight: 700;
  padding-top: 27px;
  padding-bottom: 12px; 
  text-align: center;
  line-height: 21px;
}

.prices-member__text {
  font-weight: 300; 
  font-size: 14px;
  line-height: 21px;
}

.prices-member__avatar {
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 165px;
}

.prices-member__avatar::before {
  content: "";
  position: absolute;
  background-color: rgba(75, 115, 181, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.prices-member__avatar:hover::before {
  background-color: transparent;
}

.prices-member__avatar:hover .prices-member__avatar-text {
  opacity: 0;
}

.prices-member__avatar-text {
  color: #5dd1f8;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  opacity: 1;
}

.prices-member__avatar--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.vip {
  color: #ec1e79;
}

.center {
  text-align: center;
}