.social-networks {
  width: 169px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-networks__text {
  color: #221f1f;
  font-size: 14px;
  font-weight: 700;
}

.social-networks__list {
  font-size: 0;
  display: flex;
}

.social-networl__link {
  /* background-color: #d4d4d8; */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 9px;
  margin-top: 7px;
  transition: .3s;
}

.social-networks__item:last-child .social-networl__link {
  margin-right: 0;
}

.social-networl__icon {
  position: relative;
}

.social-networl__icon:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat;
}

.social-networl__link--vk::after {
  width: 12px; height: 7px;
  background: url('../../images/sprites/socials_icons.png') -41px -39px;
}

.social-networl__link--fb::after {
  width: 6px; height: 13px;
  background: url('../../images/sprites/socials_icons.png') -77px -10px;
}

.social-networl__link--google::after {
  width: 15px; height: 9px;
  background: url('../../images/sprites/socials_icons.png') -10px -10px;
}

.social-networl__link--twitter::after {
  width: 11px; height: 9px;
  background: url('../../images/sprites/socials_icons.png') -10px -39px;
}

.social-networl__link--mail::after {
  width: 12px; height: 9px;
  background: url('../../images/sprites/socials_icons.png') -45px -10px;
}

.social-networl__link:hover {
  background: #ec1e79;
}